{%- if page_paths -%}
  {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
      {%- unless my_page.exclude -%}
        <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {%- endunless %}
    {%- endif -%}
  {%- endfor -%}
<a class="visually-hidden" href="#p001">Photos</a><!--
This comment collapses the white space between these links.
See https://css-tricks.com/fighting-the-space-between-inline-block-elements
--><a href="https://docs.google.com/forms/d/e/1FAIpQLSeAzW__26--TTfSV0iZ0_ZN9RdpzC4eWy92OGFnXShngcRjsw/viewform?usp=pp_url" target="_blank">Contact</a>
{%- endif -%}
