---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Georgia, "Times New Roman", serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #5a4a42 !default;
$background-color: #786747 !default;
$green: #92b708;

// Width of the content area
$content-width:    990px !default;

@mixin full-size ($width: 800px) {
  @media screen and (min-width: $width) {
    @content
  }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background: {
    image: url('images/body.jpg');
    color: $background-color;
    repeat: no-repeat;
    position: center top;
  };
  margin-top: 22px;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

img {
  max-width: 100%;
  vertical-align: middle;

  &.right {
    float: right;
    margin-left: 2em;
  }

  figure > & {
    display: block;
  }
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;

  li {
    margin-bottom: .5em;
    list-style-image: url('images/li.png');

    > ul,
    > ol {
      margin-bottom: 0;
    }
  }
}

/**
 * Links
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
  height: 16px;
  width: 16px;
  fill: white;
}

$logo-left-margin: 50px;

%no-print {
  @media print {
    display: none;
  }
}

/**
 * Site header
 */
.site-header {
  @extend %no-print;
  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 134px;
    max-width: $content-width + 30px;
  }
}

.site-title {
  display: block;
  margin-left: 1em;

  @include full-size {
    position: absolute;
    margin-left: $logo-left-margin;
  }
}

.site-nav {
  color: white;
  padding: 12px;
  font-size: 2.5em;
  line-height: 1.6em;
  background-color: $green;
  font-family: 'P22 Vincent', Georgia, serif;

  @include full-size {
    background-color: transparent;
    padding: 0;
  }

  &:before {
    display: block;
    margin: 0 auto;
    background-color: white;
    max-width: $content-width;
    height: 10px;

    @include full-size {
      content: " ";
    }
  }

  .trigger {
    background-color: $green;

    @media screen and (min-width: #{$content-width + 30px}) {
      border-radius: 8px;
    }

    @include full-size {
      box-shadow: 0 0 6px rgba(0, 0, 0, .4);
      padding-left: $logo-left-margin + 201px;
    }
  }

  .nav-trigger {
    display: none !important;
  }

  a {
    color: inherit;
    display: block;
    margin-left: 1rem;
    text-decoration: none;
    text-transform: lowercase;

    @include full-size {
      display: inline-block;
      margin-left: 2rem;
    }
  }

  label[for="nav-trigger"] {
    text-align: right;
    cursor: pointer;
    display: block;
    line-height: 0;
    z-index: 2;

    @include full-size {
      display: none;
    }
  }

  .menu-icon {
    display: block;

    > svg {
      fill: white;
    }
  }

  input ~ .trigger {
    display: none;

    @include full-size {
      display: block;
    }
  }

  input:checked ~ .trigger {
    display: block;
  }
}



/**
 * Site footer
 */
.site-footer {
  @extend %no-print;

  color: white;
  background-color: #496200;

  .wrapper {
    padding: 2em 2% 0 2%;
    background: url('images/footer.gif') no-repeat center top;
  }

  a {
    color: inherit;

    &[ href *= "facebook.com" ] {
      display: inline-block;
      vertical-align: middle;
    }
  }

  address {
    color: $green;
  }

  nav {
    margin: 1em 0 .5em 0;
    text-transform: lowercase;

    a {
      &:not(:last-child) {
        margin-right: 1em;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.copyright {
  padding: .5em;
  display: block;
  text-align: right;
  font-style: italic;
}




/**
 * Page content
 */
.page-content {
  flex: 1;
  line-height: 1.8;
  font-size: .85rem;
}

@font-face {
  font-family: 'P22 Vincent';
  src:
          url('fonts/p22_vincent_regular-webfont.woff2') format('woff2'),
          url('fonts/p22_vincent_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid #90be14;
  padding-top: 1px;
  margin: 2em 0;
}

h1 {
  color: #668c02;
  line-height: 1.2;
  font-weight: 400;
  font-size: 3.4em;
  font-family: 'P22 Vincent', 'Times New Roman', serif;
}

blockquote {
  color: $green;
  font-size: 1.1em;
  line-height: 1.75;
  margin: {
    right: auto;
    left: auto;
  }
  width: 80%;

  cite {
    background: {
      image: url('images/cite.gif');
      repeat: no-repeat;
    };
    min-height: 36px;
    padding-left: 50px;
    color: $text-color;
    font-style: normal;
    font-weight: bold;
    font-size: .75em;
    display: block;

    strong {
      display: block;
    }
  }
}

main {
  a {
    color: #5d7d04;
    transition: color .25s;

    &:hover {
      color: #90be14;
    }
  }

  .wrapper {
    padding: 2em;
    background-color: white;

    @include full-size {
      display: flex;
    }

    article {
      flex: 2;
    }

    .sidebar {
      flex: 1;

      @include full-size {
        margin-left: 4em;
      }
    }
  }
}

.lightbox figure {
  display: none;

  img {
    box-shadow: 0 0 48px rgba(0, 0, 0, .6);
    max-width: 90%;
    height: auto;

    &[ src $= "spacer.gif" ] {
      width: 100px;
      height: 100px;
      animation: spin .8s linear infinite;
      border: 16px solid rgba(255, 255, 255, .1);
      border-top-color: white;
      border-radius: 50%;
    }

    @include full-size {
      max-width: 50%;
    }
  }

  a {
    background-repeat: no-repeat;
    display: inline-block;
    height: 2em;
    width: 2em;

    @include full-size {
      height: 3em;
      width: 3em;
    }

    &[href="#"] {
      margin: 2em 2em 0 0;
      align-self: flex-end;
      background-image: url('images/cancel.svg');
    }
  }

  nav {
    margin-bottom: 2em;

    a {
      &[rel="prev"] {
        margin-right: 1em;
        background-image: url('images/prev.svg');
      }

      &[rel="next"] {
        margin-left: 1em;
        background-image: url('images/next.svg');
      }
    }
  }

  &:target {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.sidebar aside {
  background: {
    color: #726244;
    repeat: no-repeat;
    position: bottom right;
    image: url('images/block.gif');
  }
  border-radius: 1em;
  margin-bottom: 2em;
  padding: 1em;
  color: white;

  &#fees {
    dt {
      font-weight: bold;
      font-size: 1.3em;
    }
    dd {
      margin-bottom: 1em;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4rem;
  }
}
